{% load static %}
<html>
  <head>
    <script src="{% static 'django_eventstream/json2.js' %}"></script>
    <script src="{% static 'django_eventstream/eventsource.min.js' %}"></script>
    <script src="{% static 'django_eventstream/reconnecting-eventsource.js' %}"></script>
    <script src="{% static 'chat/jquery-3.2.1.min.js' %}"></script>

    <style>
      input#nick-input {
        width: 400px;
      }

      input#chat-input {
        width: 600px;
      }

      div#chat-elements {
        display: none;
      }

      div#chat-log {
        display: block;
        width: 600px;
        height: 300px;
        overflow: auto;
        border: 2px solid black;
      }
    </style>

    <script type="text/javascript">
      var scrollToBottom = function (e) {
        e.scrollTop = e.scrollHeight;
      }

      var tryScrollToBottom = function (e, threshold) {
        if(e.scrollTop + e.clientHeight + threshold > e.scrollHeight) {
          e.scrollTop = e.scrollHeight;
        }
      }

      var appendLog = function (s) {
        var log = $('#chat-log');
        log.append(s + '<br>');
        tryScrollToBottom(log.get(0), 50);
      };

      $(function () {
        var msg_ids = [{% for msg in messages %}{% if not forloop.first %},{% endif %}{{ msg.id }}{% endfor %}];

        $('#join-form').submit(function () {
          var nick = $('#nick-input').val();

          // switch from join view to chat view
          $('#join-elements').hide();
          $('#chat-elements').show();

          var log = $('#chat-log').get(0);
          scrollToBottom(log);

          var es = new ReconnectingEventSource('/events/?channel=chat', {
            lastEventId: '{{ last_id }}'
          });

          var firstConnect = true;

          es.onopen = function () {
            if(!firstConnect) {
              appendLog('*** connected');
            }
            firstConnect = false;
          };

          es.onerror = function () {
            appendLog('*** connection lost, reconnecting...');
          };

          es.addEventListener('stream-reset', function () {
            appendLog('*** client too far behind, please refresh');
          }, false);

          es.addEventListener('stream-error', function (e) {
            // hard stop
            es.close();
            e = JSON.parse(e.data);
            appendLog('*** stream error: ' + e.condition + ': ' + e.text);
          }, false);

          es.addEventListener('message', function (e) {
            console.log('event: ' + e.data);
            msg = JSON.parse(e.data);

            // if an event arrives that was already in the initial pageload,
            //   ignore it
            if($.inArray(msg.id, msg_ids) != -1) {
              return;
            }

            appendLog('<b>' + msg.from + '</b>: ' + msg.text);
          }, false);

          $('#send-form').submit(function () {
            var text = $('#chat-input').val();

            $('#chat-input').attr('disabled', 'true');
            $('#send-button').attr('disabled', 'true');
            $('#send-button').text('Sending...');
            $('#join-elements').hide();
            $.post('/messages/', { from: nick, text: text }
            ).done(function (data) {
              console.log('send response: ' + JSON.stringify(data));
            }).fail(function () {
              alert('failed to send message');
            }).always(function () {
              $('#chat-input').val('');
              $('#send-button').text('Send');
              $('#chat-input').removeAttr('disabled');
              $('#send-button').removeAttr('disabled');
              $('#chat-input').focus();
            });

            return false;
          });

          $('#chat-input').focus();

          return false;
        });

        $('#nick-input').focus();
      });
    </script>
  </head>

  <body>
    <h1>Chat</h1>

    <div id="join-elements">
      <form id="join-form">
        Nickname: <input type="text" id="nick-input" />
        <button id="join-button">Join</button>
      </form>
    </div>

    <div id="chat-elements">
      <div id="chat-log">
        {% for msg in messages %}
          <b>{{ msg.from }}</b>: {{ msg.text }}<br />
        {% endfor %}
      </div>
      <form id="send-form">
        <input type="text" id="chat-input" autocomplete="off" />
        <button id="send-button">Send</button>
      </form>
    </div>
  </body>
</html>
