#clearMessages {
    padding: 5px 10px;
    color: white !important;
    font-size: 12px;
}

hr {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

#clearMessages, #clearMessages .typ, #clearMessages span {
  color: white !important;
}

#sse-stream {
  height: 425px;
}

.error-channels b .typ {
  color: red;
}

.error-channels b .pun {
  color: red;
}

.error-channels span {
  color: black;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-in {
  animation: fadeIn 0.6s;
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

.fade-out {
  animation: fadeOut 0.6s forwards;
}


.action-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
  gap: 10px;
  flex-direction: row;
}


/* Switch */
.custom-panel-body .custom-checkbox.custom-checkbox-switch {
  padding-left: 0;
}

.custom-panel-body .custom-checkbox.custom-checkbox-switch label {
  display: inline-block;
  position: relative;
  padding-left: 0;
}

.custom-panel-body .custom-checkbox.custom-checkbox-switch label input {
  display: none;
}

.custom-panel-body .custom-checkbox.custom-checkbox-switch label .custom-slider {
  width: 37px;
  height: 18px;
  border-radius: 20px;
  background-color: #ffffff;
  border: 1px solid #dfdfdf;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.4s, border-color 0.4s;
}

.custom-panel-body .custom-checkbox.custom-checkbox-switch label .custom-slider::before {
  content: "";
  position: absolute;
  /* top: 1px; */
  left: 1px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: transform 0.2s;
  box-shadow: 0 1px 4px rgba(0,0,0,0.4);
}

.custom-panel-body .custom-checkbox.custom-checkbox-switch input:checked + .custom-slider {
  background-color: #337ab7;
  border-color: #337ab7;
}

.custom-panel-body .custom-checkbox.custom-checkbox-switch input:checked + .custom-slider::before {
  transform: translateX(17px);
}

#content > div.content-main > div.response-info > pre > span > div.action-container > div > div > label {
  margin-bottom: 0 !important;
}
